footer{
  display: flex;
  justify-content: space-between;
  background-color: darkslategrey;
}
footer.container{
  padding-top: 50px;
  
}
footer li{color: #e5e4e4;
  margin: 10px 0;
  font-size: 17px;
  cursor: pointer;}
footer h2{color: #fff;
  font-weight: 500;}
footer i{
  margin-right: 5px;
}

@media (max-width : 900px){
  footer ul{
    width : calc(100% / 2)
  }
  footer{
    flex-wrap: wrap;
  }
}
@media (max-width : 600px){
  footer ul{
    width : 100%
      
  }

}